* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title {
    font-family: sans-serif;
    text-align: center;
}

.title h3 {
    margin: 20px;
    background-color: yellow;
    padding: 5px;
}